@mixin sidebar {
  position: fixed;
  height: 100vw;
  top: 0;
  background-color: $itemBackground;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
}
